doctype html
html
   head
      title=title
      meta(content="IE=edge")(http-equiv="X-UA-Compatible")
      meta(name="keyword")(content=keyword)
   body
      h2.header=heading
      p.greetings#people=description
      form( method = "POST")
         div
            label(for = "name") Name:
            input(name = "name" )
         br
         div
            label(for = "subject") Subject:
            input(name = "subject" )
         br
         div
            label(for = "desc") Details:
            textarea(name = "desc" )
         br
         button(type = "submit") Submit
      
      div#userData
         if formdata
            p Submitted Details
            p Name #{formdata.name}
            p Subject #{formdata.subject}
            div Details #{formdata.desc}